.alternada{
    list-style: upper-alpha;
    font-size: 30px;
    color: blue;
    width: fit-content;
}

.alternada li:nth-child(odd){
    background-color: yellow;
}

.alternada li:nth-child(even){
    background-color: lightgray;
}

.alternada li:hover{
    background-color: orange;
    color: black;
    font-weight: bold;
}